<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',               'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application',               'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-grey-lighter p-2">

    <div class="page-wrap">
      <nav class="sidebar">
        <div class="sidebar-inner">
          <div><%= link_to 'Home', root_url %></div>
          <div class="spacer"></div>
          <div><%= link_to 'Account', account_path(current_user.account_id) %></div>
          <div><%= link_to 'Logout', logout_path %></div>
        </div>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
