<% provide :title, 'Start Now' %>
<h3 class="font-light mb-8 text-center">Start now with <span class="font-semibold">Next Visit</span></h3>


<%= form_with model: @account, local: true, class: 'card' do |form| %>

    <% if @account.errors.any? %>
      <div class="alert alert-red" role="alert">
        <p class="font-semibold">Please resolve the following <%= pluralize(@account.errors.count, "error") %>:</p>
        <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :signup_email, 'Email', class: 'form-label' %>
      <%= form.text_field :signup_email, class: 'form-text', placeholder: 'Email' %>
    </div>

    <div class="form-field">
      <%= form.label :signup_password, 'Choose a Password', for: 'password', class: 'form-label' %>
      <%= form.password_field :signup_password, id: 'password', class: 'form-text', placeholder: 'Password' %>
    </div>

    <div class="form-field">
      <%= form.label :name, 'Your Business Name', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-text', placeholder: 'ABC & Co.' %>
    </div>

    <%= form.hidden_field :signup_detected_state %>
    <%= form.hidden_field :signup_detected_country %>
    <%= form.hidden_field :signup_detected_ip_address %>
    <%= form.hidden_field :signup_detected_user_agent %>

    <div class="form-actions">
      <%= form.submit 'Start Now', class: 'btn btn-blue' %>
    </div>

<% end %>



<div class="text-center mt-8 mb-8">
  <p class="text-black text-sm mb-2">Already have an account?</p>
  <div><a href="/login" class="btn-sm btn-blue-outline">Login instead</a></div>
</div>
