<% provide(:title, 'Account - Next Visit') %>
<p id="notice"><%= notice %></p>

<h3><%= @account.name %></h3>

<div>
  <% if policy(@account).update? %>
    <%= link_to 'Edit', edit_account_path(@account) %>
  <% end %>
  <% if policy(@account).destroy? %>
    &middot; <%= link_to('Delete', @account, method: :delete, data: { confirm: 'This will immediately delete ALL your data and close your account. Are you sure?' }) %>
  <% end %>
</div>


<blockquote style="margin-top:50px">
  <h4>Account Users</h4>
  <%= render 'users/list' %>
</blockquote>

<hr>

<h3>Stimulus JS Example</h3>

<div data-controller="hello" data-hello-name="Chris">
  <input data-target="hello.name" type="text" data-action="paste->hello#paste">
  <button data-action="click->hello#log">Log</button>
              <!--   event->controller#action -->
</div>
